.dog-select-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dog-select{
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  font-size: 1.5rem;
}

label{
  font-size: 2rem;
}