header {
  background: #f3f4ed;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #23049d;
  padding: 0 12px;
}

main{
  height: 88.1vh;
}

.dog-icon{
  height: 2rem;
  width: 2rem;
}