.again-button{
  outline: none;
  border: none;
  font: inherit;
  color: #f5f7b2;
  background-color: rgba(35,4,157,1);
  padding: 1rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
